//varibles in scss
// $textColor: black;
// $contrastColor: white;
@import 'variables';
//mixin
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flexCenter();
  background: white;
  color: $textColor;
  height: 100vh;
  button{
    background: $contrastColor;
  }
}

body{
  background: lightpink;
  p{
    background: lightblue;
    display: flex;
    justify-content: center;
  }
}
