@import 'variables';
@import 'mixins';

header {
  @include flexCenter();
  background: white;
  color: $textColor;
  height: 100vh;
  button{
    background: $contrastColor;
  }
}

body{
  background: lightpink;
  p{
    background: lightblue;
    display: flex;
    justify-content: center;
  }
}
